$tooltipBgColor: rgb(248, 248, 248);
$tooltipColor: rgb(0, 0, 0);

$troopCountColor:  rgb(65, 179, 255);
$troopPercentColor:  rgb(255, 245, 230);
$troopPercentErrorColor:  rgb(255, 153, 153);
$troopLockedColor:  rgb(141, 141, 141);
