// External dependencies
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootstrap.min';
@import './layout';

.nobr {
  white-space: nowrap;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

span.button {
  border: 1px solid #444;
  width: 1.2rem;
  background: #eee;
  color: #444;
  display: inline-block;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.NumEntry {
  display: inline-block;
  padding: 0.01rem;
  input[type=text] {
    width: 4.5rem;
  }
  label {
    text-align: left;
    margin-right: 0.5rem;
    min-width: 4rem;
  }
}

$troopCountColor:  rgb(65, 179, 255);
$troopPercentColor:  rgb(255, 174, 53);
$lighter1: +10%;
$lighter2: +18%;
$lighter3: +26%;

.TroopDefView {
  .NumEntry {
    position: relative;
    span.floatPercent {
      position: absolute;
      right: 1.7em;
      top: 0.2em;
      color: black;
    }
  }
}

.TroopDefView {
  .NumEntry {
    input {
      &.Infantry { background-color: adjust-color($troopCountColor, $lightness: $lighter1); }
      &.Cavalry { background-color: adjust-color($troopCountColor, $lightness: $lighter2); }
      &.Distance { background-color: adjust-color($troopCountColor, $lightness: $lighter3); }
    }
  }
}
.TroopDefView {
  .PercEntry {
    input {
      &.Infantry { background-color: adjust-color($troopPercentColor, $lightness: $lighter1); }
      &.Cavalry { background-color: adjust-color($troopPercentColor, $lightness: $lighter2); }
      &.Distance { background-color: adjust-color($troopPercentColor, $lightness: $lighter3); }
    }
  }
}

.TierDefView {
  padding: 1rem 0;
  &.even {
    background-color: rgba(255,255,255,0.08)
  }
  label.tierLabel {
    font-size: 4em;
  }
}

.FormCalcView {
  fieldset {
    margin-bottom: 1rem;
  }
}