@import './colors';

.tooltip {
}

.tooltip.show {
}

.tooltip .arrow {
}

.tooltip .arrow::before {
}

.tooltip-inner {
  background-color: $tooltipBgColor;
  color: $tooltipColor;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: $tooltipBgColor;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: $tooltipBgColor;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: $tooltipBgColor;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: $tooltipBgColor;
}
